/**
 *  Core tags, body, html.
 */

/**
 *  Hide body, and use ng-style to show it.
 *  As soon as the page has loaded the scripts starts
 *  to initiate, which will cause the body to be visible.
 *      This hides ugly curly brackets and such.
 */
body {
    visibility: hidden;
}

/**
 *  Icon size
 *  https://google.github.io/material-design-icons/#getting-icons
 */
.material-icons.md-18 { font-size: 18px; width:18px; height: 18px; }
.material-icons.md-24 { font-size: 24px; width:24px; height: 24px; }
.material-icons.md-36 { font-size: 36px; width:36px; height: 36px; }
.material-icons.md-48 { font-size: 48px; width:48px; height: 48px; }

/**
 *  Toolbar - top menu
 */
/* main anv bar */
#navbar {
    max-height: 60px;
}

.bold {
    font-weight: bold;
    color: blue;
}

/* nav bar search */
#navbar-search-input {
    background-color:rgba(255, 255, 255, 0.2);
    color:white;
    height:37px;
}

#navbar-search-button {
    background-color:rgba(255, 255, 255, 0.2);
    margin-left: -1px;
}

/* Vertical position fix for search input */
md-input-container .md-errors-spacer {
    min-height: 0 !important;
}




/**
 *  Watch.html
 */
#videoplayer {
}
#videoplayer:hover {
    cursor: pointer;
}
#videoplayerController {
    background-color: #ECEFF1
}
#blackboard {
    background-color:black;
    color: white;
}