<md-content class="md-padding" ng-controller="playlists-dashboardController">
    <!--
            tab title
        -->
    <div layout="row" flex>
        <md-icon class="material-icons md-36">list</md-icon>
        <h1 class="md-display-1">
            My playlists
        </h1>
        <span flex></span>
    </div>

    <div layout="row" layout-padding layout-xs="column">

        <!-- search users -->
        <div flex flex-gt-md="50">
            <!--
                Section title
            -->
            <div layout="row" layout-sm="column" layout-xs="column" flex>
                <md-icon class="material-icons">list</md-icon>
                <md-subheader class="md-primary">
                    My playlists
                </md-subheader>
                <span flex></span>
            </div>

            <!--
                Results
            -->
            <md-list>
                <md-list-item ng-repeat="list in playlists" class="secondary-button-padding" flex>
                    <div layout="row" flex>
                        <p flex="50">Title: {{ ::list.title }}</p>
                        <p flex>Videos: {{ ::list.videos.length }}</p>
                        <md-menu md-offset="0 -7">
                            <md-button aria-label="Open playlist menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon class="material-icons">list</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="video in list.videos">
                                    <md-button ng-click="goto('/watch/' + video.id)">{{ video.title }} </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </div>

        <!-- add user -->
        <div flex flex-gt-md="50">
            <!--
                Section title
            -->
            <div layout="row" flex>
                <md-icon class="material-icons">add</md-icon>
                <md-subheader class="md-primary">
                    Add a new playlist
                </md-subheader>
                <span flex></span>
            </div>

            <form ng-submit="register()">

                <md-content layout-padding class="autoScroll" flex>

                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Name</label>
                        <md-icon class="material-icons">title</md-icon>
                        <input ng-model="newPlaylist.title" type="text" required="true">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon class="material-icons">description</md-icon>
                        <input ng-model="newPlaylist.description" type="text" placeholder="description" required="true">
                    </md-input-container>

                </md-content>

                <!-- submit data -->
                <div layout="row" layout-sm="column" layout-xs="column" flex>
                    <span flex></span>
                    <md-button class="md-primary md-raised" type="submit">
                        <md-icon class="material-icons">done</md-icon>
                        Register
                    </md-button>
                </div>

            </form>
        </div>

    </div>

</md-content>