<md-content class="md-padding" ng-controller="profile-dashboardController">

    <!--
        Section title
    -->
    <div layout="row" flex>
        <md-icon class="material-icons md-36">account_circle</md-icon>
        <h1 class="md-display-1">
            Profile
        </h1>
        <span flex></span>
    </div>

    <!--
        Input data
    -->
    <form ng-submit="save()">
        <md-content class="autoScroll" layout-padding flex flex-gt-md="50">

            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Name</label>
                <md-icon class="material-icons">person_outline</md-icon>
                <input ng-model="profile.name" type="text" required="true" autofocus>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Email</label>
                <md-icon class="material-icons">mail_outline</md-icon>
                <input ng-model="profile.email" type="email" required="true">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Password</label>
                <md-icon class="material-icons">lock_outline</md-icon>
                <input ng-model="profile.password" type="password" required="true">
            </md-input-container>

        </md-content>

        <!-- submit data -->
        <div layout="row" layout-sm="column" layout-xs="column" flex flex-gt-md="50">
            <span flex></span>
            <md-button class="md-primary md-raised" type="submit">
                <md-icon class="material-icons">done</md-icon>
                Save
            </md-button>
        </div>
    </form>

</md-content>