<md-content class="md-padding" ng-controller="users-dashboardController">
    <!--
        Section title
    -->
    <div layout="row" flex>
        <md-icon class="material-icons md-36">account_circle</md-icon>
        <h1 class="md-display-1">
            Management
        </h1>
        <span flex></span>
    </div>

    <div layout="row" layout-padding layout-xs="column">



        <!-- edit user TODO: create modal.. -->
        <!--
        <md-content class="autoScroll" flex>
            <md-subheader class="md-primary">
                <md-icon class="material-icons">edit</md-icon>
                Update user
            </md-subheader>
            <md-input-container class="md-icon-float md-block">
                <label>Name</label>
                <md-icon class="material-icons">person_outline</md-icon>
                <input ng-model="user.name" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon class="material-icons">mail_outline</md-icon>
                <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon class="material-icons">lock_outline</md-icon>
                <input ng-model="user.phone" type="password" placeholder="Password">
            </md-input-container>
            <md-button class="md-primary md-raised">
                <md-icon class="material-icons">done</md-icon>
                Save
            </md-button>
        </md-content>
        -->


        <!-- search users -->
        <div flex flex-gt-md="50">
            <!--
                Section title
            -->
            <div layout="row" layout-sm="column" layout-xs="column" flex>
                <md-icon class="material-icons">search</md-icon>
                <md-subheader class="md-primary">
                    Search for users
                </md-subheader>
                <span flex></span>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column" flex>
                <md-input-container class="md-block" flex>
                    <label class="md-primary">Search for users</label>
                    <input ng-model="search" type="text" disabled>
                </md-input-container>

                <!-- submit data -->
                <div layout="column">
                    <md-button class="md-primary md-raised" ng-disabled="true">
                        Search
                    </md-button>
                </div>

                <span flex></span>
            </div>

            <!--
                About user dialog
            -->
            <div hide-gt-sm layout="row" layout-align="center center" flex="100">
                <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen Custom Dialog">Custom Dialog Fullscreen</md-checkbox>
            </div>

            <!--
                Results
            -->
            <md-list>
                <md-list-item ng-repeat="user in users" class="secondary-button-padding" ng-click="showUserDialog($event, $index)">
                    <p>{{ ::user.email }}</p>
                    <span flex></span>
                    <p>{{ ::user.name }}</p>
                    <span flex></span>
                    <md-button class="md-icon-button md-secondary" aria-label="test" ng-click="showUserEditDialog($event, $index)">
                        <md-icon class="material-icons">edit</md-icon>
                    </md-button>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>


        </div>

        <!-- add user -->
        <div flex flex-gt-md="50">
            <!--
                Section title
            -->
            <div layout="row" flex>
                <md-icon class="material-icons">person_add</md-icon>
                <md-subheader class="md-primary">
                    Add new user
                </md-subheader>
                <span flex></span>
            </div>

            <form ng-submit="register()">

                <md-content layout-padding class="autoScroll" flex>

                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Name</label>
                        <md-icon class="material-icons">person_outline</md-icon>
                        <input ng-model="newUser.name" type="text">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon class="material-icons">mail_outline</md-icon>
                        <input ng-model="newUser.email" type="email" placeholder="Email (required)" ng-required="true">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <md-icon class="material-icons">lock_outline</md-icon>
                        <input ng-model="newUser.password" type="password" placeholder="Password">
                    </md-input-container>

                    <div class="md-icon-float md-block" flex layout="row" layout-padding>
                        <md-icon class="material-icons">school</md-icon>
                        <md-select placeholder="Set user autorization" ng-model="newUser.level" flex>
                            <md-option ng-repeat="level in user_levels" ng-value="$index" md-select-on-focus="$index == 0">{{ ::level }}</md-option>
                        </md-select>
                    </div>

                </md-content>

                <!-- submit data -->
                <div layout="row" layout-sm="column" layout-xs="column" flex>
                    <span flex></span>
                    <md-button class="md-primary md-raised" type="submit">
                        <md-icon class="material-icons">done</md-icon>
                        Register
                    </md-button>
                </div>

            </form>
        </div>
    </div>

</md-content>