<div layout="row" layout-xs="column" flex>
    <!--
        Media content
    -->
    <div layout="column"
         flex-xs="100"
         flex-sm="100"
         flex-md="100"
    >
        <!--
            Videoplayer
        -->
            <video id="videoplayer"
                    ng-src="{{ ::videoplayer.src }}"
                   flex-xs="100"
                   flex-sm="100"
                   flex-md="100"
            >
            </video>

        <!--
            Controllers
        -->
        <div layout="column"
                style="width: {{ videoplayer.self.clientWidth }}px"
        >
            <md-progress-linear id="videoplayerProgress"
                    md-mode="determinate"
                    value="{{ videoplayer.playtime }}"
            >
            </md-progress-linear>

            <div layout="row"
                    id="videoplayerController"
            >
                <!-- play \ stop -->
                <md-button class="md-icon-button"
                        id="videoplayer-playPause"
                        aria-label="play or stop"
                >
                    <md-icon class="material-icons" ng-if="videoplayer.running == 2">replay</md-icon>
                    <md-icon class="material-icons" ng-if="videoplayer.running == 1">pause</md-icon>
                    <md-icon class="material-icons" ng-if="videoplayer.running == 0">play_arrow</md-icon>
                </md-button>

                <!-- mute -->
                <md-button class="md-icon-button"
                        id="videoplayer-mute"
                        aria-label="mute or unmute"
                >
                    <md-icon class="material-icons" ng-hide="!videoplayer.muted">volume_off</md-icon>
                    <md-icon class="material-icons" ng-hide="videoplayer.muted">volume_up</md-icon>

                </md-button>

                <!-- volume slider -->
                <md-slider class="md-primary"
                        flex="10"
                        min="0"
                        max="100"
                        ng-model="videoplayer.volume"
                        ng-change="videoplayer.changeVolume()"
                        aria-label="red"
                        id="red-slider"
                        md-discrete
                >
                </md-slider>

                <span flex></span>

                <!-- add to some session play list -->
                <md-menu>
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon class="material-icons">playlist_add</md-icon>
                    </md-button>
                    <md-menu-content >
                        <md-menu-item ng-repeat="list in myPlaylists">
                            <md-button ng-click="addVideoToPlaylist(list.id)"> {{list.title}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <!-- speed -->
                <md-menu>
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon class="material-icons">schedule</md-icon>
                    </md-button>
                    <md-menu-content
                    >
                        <md-menu-item>
                            <md-button ng-click="videoplayer.controllers.setSpeed(0.5)">x0.50</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="videoplayer.controllers.setSpeed(0.75)">x0.75</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="videoplayer.controllers.setSpeed(1)">x1.00</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="videoplayer.controllers.setSpeed(1.25)">x1.25</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="videoplayer.controllers.setSpeed(1.5)">x1.50</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="videoplayer.controllers.setSpeed(2)">x2.00</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <!-- cc -->
                <md-menu>
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon class="material-icons">subject</md-icon>
                    </md-button>
                    <md-menu-content >
                        <md-menu-item ng-repeat="item in tracks">
                            <md-button ng-click="useTrack($index)"> {{item}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </div>
        </div>
    </div>

    <!--
        Text tracks
    -->
    <md-content layout-padding
            class=""
            id="blackboard"
            flex-xs="100"
            flex-gt-xs="100"
            flex-md="50"
            flex-gt-md="60"
            flex-gt-lg="30"
    >
        <p ng-repeat="cue in cues" ng-class="{bold: activeStartTime == cue.startTime}">{{ cue.text }}</p>
    </md-content>
</div>
