<md-list
>
    <md-list-item class="secondary-button-padding" ng-click="$mdOpenMenu($event)" flex>
            <p
            >test1
            </p>
            <md-menu-content
            >
                <md-menu-item
                >
                    <span ng-click="al()"
                    >Option
                    </span>
                </md-menu-item>
            </md-menu-content>

    </md-list-item>

    <md-divider></md-divider>

    <md-list-item class="secondary-button-padding" ng-click="al()">
        <p>test2 </p>
    </md-list-item>
</md-list>