<!DOCTYPE HTML>
<html lang="nb">
<head>
    <title>vLearner</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- base "/web-proj1" is also found in the navbar header title-->
    <base href="/">

    <!-- css -->
    <link href="public/components/angular-material/angular-material.min.css"    rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"        rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="public/css/main.css"> -->

    <!-- global attributes -->
    <script type="text/javascript">
        var project = {"name": "vLearner"};
    </script>

    <style>
        md-input-container .md-errors-spacer {
            min-height: 0 !important;
        }
    </style>
</head>
<!--
    ng-style overwrites the style attribute after page load. Using this,
    the user won't see ugly not formatted angular js \ angular material code.
-->
<body
    layout="column"
    style="visibility: hidden"
    ng-style="{'visibility':'visible'}"
    ng-controller="AppCtrl"
    ng-app="videoApp"
    ng-cloak
>

    <!--
        Site top menu.
        Always visible.
    -->
    <md-toolbar layout="row" flex style="max-height: 60px;">
        <div class="md-toolbar-tools">
            <!--
                Side-menu button. visible for medium screens and below.
                This is also hidden if the search bar is avtive on mobile.
            -->
            <md-button
                ng-click="sidenav.toggle('left')"
                class="md-icon-button"
                aria-label="Settings"
                ng-hide="toolbar.search.visible"
                hide-gt-md
            >
                <md-icon class="material-icons">menu</md-icon>
            </md-button>

            <!--
                Project title \ site name.
                Only hidden when the search bar is active on mobile.
            -->
            <h2 ng-hide="toolbar.search.visible">
                <span>{{ ::toolbar.title }}</span>
            </h2>

            <!--
                Search bar for desktop.
                Mobile has a different one, this is hidden if the screen
                is small or narrower.
                TODO: add to css file
            -->
            <md-list flex-offset="10" flex>
                <md-list-item flex-offset="5" flex><!-- BUG: weird bug with layout? -->
                    <md-input-container md-no-float class="md-raised" flex>
                        <input ng-model="user.name" type="text" placeholder="Search" style="background-color:rgba(255, 255, 255, 0.2);color:white;height:37px" flex>
                    </md-input-container>
                    <md-button class="md-raised md-mini md-primary md-cornered" style="margin-left: -1px;background-color:rgba(255, 255, 255, 0.2);">
                        <md-icon class="material-icon">search</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>

            <!--
                Simple spacing to push everything after the
                search bar to the right.
            -->
            <span flex></span>

            <!--
                Right side icons \ menu. 4 elements.
                Both #1 and #2 are hidden for screen larger than smaller sizes.
            -->
            <!-- #1: go back & search input -->
            <div layout="row" layout-align="start center" ng-show="toolbar.search.visible" hide-gt-sm>
                    <md-button class="md-icon-button" ng-click="toolbar.search.visible = !toolbar.search.visible">
                        <md-icon class="material-icons">arrow_back</md-icon>
                    </md-button>

                    <md-input-container md-no-float style="margin-top:45px">
                        <input ng-model="toolbar.search.input" type="text" placeholder="Search query" ng-required="true">
                    </md-input-container>
            </div>

            <!-- #2: search icon -->
            <md-button
                aria-label="Show search input"
                class="md-icon-button"
                ng-click="toolbar.search.visible = !toolbar.search.visible"
                ng-show="!toolbar.search.visible"
                hide-gt-sm
            >
                <md-icon class="material-icons">search</md-icon>
            </md-button>

            <!-- #3: right side menu button -->
            <md-menu>
                <md-button
                    aria-label="Open phone interactions menu"
                    class="md-icon-button"
                    ng-click="toolbar.menu.toggle($mdOpenMenu, $event)"
                >
                    <md-icon class="material-icons">apps</md-icon>
                </md-button>

                <md-menu-content width="4">
                    <!-- loop through list menu -->
                    <md-menu-item ng-repeat="item in toolbar.menu.list" ng-hide="item.hide">
                        <md-button ng-click="goto(item.href)">
                            <md-icon class="material-icons">{{ ::item.icon }}</md-icon>
                            {{ ::item.title }}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <!-- #4: user icon. Hide if not authenticated, or show as red? -->
            <md-button ng-disabled="true" class="md-icon-button md-primary md-raised">
                <md-icon class="material-icons" style="color:white">face</md-icon>
            </md-button>


        </div>
    </md-toolbar>
    <md-progress-linear
        md-mode="{{ mainProgressMode }}"
        value="{{ mainProgressValue }}"
        content-progressbar
    ></md-progress-linear>
    <!-- nav bar end -->


    <!--
        Main content wrapper.
    -->
    <div layout="row" flex>
        <!-- sidenav menu -->
        <md-sidenav
            layout="column"
            class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            style="box-shadow:none;"
        >
            <md-list>
                <!-- defaults options in side menu -->
                <md-list-item ng-repeat="item in sidenav.list.default" ng-click="sidenav.toggle('left'); goto(item.href)">
                    <md-icon class="material-icons">{{item.icon}}</md-icon>
                    <p>{{item.title}}</p>
                </md-list-item>
                <md-divider></md-divider>

                <!-- "My videos" -->
                <md-subheader class="md-no-sticky">My videos</md-subheader>
                <md-list-item ng-repeat="item in sidenav.list.videos" ng-click="sidenav.toggle('left'); goto('watch/' + item.id)">
                    <md-icon class="material-icons">video_library</md-icon>
                    <p>{{item.title | limitTo:sidenav.list.strLimit}}</p>
                    <md-button class="md-icon-button" ng-click="doSecondaryAction($event)">
                        <md-icon class="material-icons">more_vert</md-icon>
                    </md-button>
                </md-list-item>
                <md-divider></md-divider>

                <!-- "My playlists" -->
                <md-subheader class="md-no-sticky">My playlists</md-subheader>
                <md-list-item ng-repeat="item in sidenav.list.playlists" ng-click="sidenav.toggle('left'); goto('playlists/' + item.id)">
                    <md-icon class="material-icons">list</md-icon>
                    <p>{{item.title | limitTo:sidenav.list.strLimit}}</p>
                    <md-button class="md-icon-button" ng-click="doSecondaryAction($event)">
                        <md-icon class="material-icons">more_vert</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <!-- side nav menu end -->

        <!-- ng-view, template content -->
        <md-content flex layout-padding ng-view>
            <div layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </md-content>
    </div>


    <!--
        Footer element
    -->
    <footer id="footer" flex style="max-height: 60px;">
        footer
    </footer>


    <!-- javascript -->
    <script type="text/javascript" src="public/components/angular/angular.js"></script>
    <script type="text/javascript" src="public/components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="public/components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="public/components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="public/components/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="public/components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="public/components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="public/components/angular-material/angular-material.js"></script>

    <script type="text/javascript" src="public/js/app.js"></script>
    <script type="text/javascript" src="public/js/services.js"></script>
    <script type="text/javascript" src="public/js/directives.js"></script>
    <script type="text/javascript" src="public/js/controllers.js"></script>

    <script type="text/javascript">
    </script>

</body>
</html>