<md-content>
    <h1 class="md-headline">Dashboard</h1>

    <md-tabs md-dynamic-height md-selected="selectedTabIndex">

        <!--
            Profile section
        -->
        <md-tab label="Profile" ng-click="changeDashboardSection()">
            <ng-include src="'public/pages/dashboard/profile.html'"></ng-include>
        </md-tab>

        <!--
            My videos section
        -->
        <md-tab label="My videos" ng-click="changeDashboardSection()">
            <ng-include src="'public/pages/dashboard/videos.html'"></ng-include>
        </md-tab>

        <!--
            My playlists section
        -->
        <md-tab label="My playlists" ng-click="changeDashboardSection()">
            <ng-include src="'public/pages/dashboard/playlists.html'"></ng-include>
        </md-tab>

        <!--
            Administrator section for managening users
            TODO: fix
        -->
        <md-tab label="Management" ng-click="changeDashboardSection()">
            <ng-include src="'public/pages/dashboard/users.html'"></ng-include>
        </md-tab>
    </md-tabs>
</md-content>