<div class='md-padding' layout="column" layout-wrap>

    <!--
        Videos
    -->
    <md-grid-list
            md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="8"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="8px" md-gutter-gt-sm="4px"
    >
        <h3 class="md-title">Latest videos</h3>
        <md-grid-tile ng-repeat="video in videos track by $index"
                      md-rowspan="1"
                      md-colspan="1"
                      md-colspan-sm="1"
                      ng-click="goto('watch/' + video.id)"
                      ng-style="{'background-image':'url(public/images/'+{{ video.id }}+'.jpg)'}"
                      video-context-menu
        >
            <md-tooltip md-visible="demo.showTooltip" md-direction="bottom">
                {{ video.user_id + ": " + video.created }} <!-- TODO: add username from db! -->
            </md-tooltip>
            <md-grid-tile-footer>
                <h3>{{ video.title }}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
    <br>
    <md-divider></md-divider>

    <!--
        Playlists
    -->
    <md-grid-list
            md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="8"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="8px" md-gutter-gt-sm="4px" >
        <h3 class="md-title">Latest playlists</h3>
        <md-grid-tile ng-repeat="item in playlists track by $index"
                      md-rowspan="1"
                      md-colspan="1"
                      md-colspan-sm="1"
                      ng-click="goto('playlists/' + item.id)"
                      ng-style="{'background-image':'url(public/images/'+{{ item.id }}+'.jpg)'}"
        >
            <md-tooltip md-visible="demo.showTooltip" md-direction="bottom">
                {{ item.user_id + ": " + item.created }} <!-- TODO: add username from db! -->
            </md-tooltip>
            <md-grid-tile-footer>
                <h3>{{ item.title }}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>
