<div class='md-padding' layout="row" layout-align="center center" layout-wrap>
    <!--
        Form config \ responsive setup
    -->
    <form
        name="signin"
        flex
        flex-gt-xs="90"
        flex-gt-sm="70"
        flex-gt-md="40"
        flex-gt-lg="30"
        ng-submit="login()"
    >
        <!--
            Email input
        -->
        <md-input-container class="md-block">
            <label>Email</label>
            <md-icon class="material-icons">mail_outline</md-icon>
            <input required type="email" name="email" ng-model="form.email"
                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" autofocus>
            <div ng-messages="form.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
            </div>
        </md-input-container>

        <!--
            Password input
        -->
        <md-input-container class="md-block">
            <label>Password</label>
            <md-icon class="material-icons">lock_outline</md-icon>
            <input type="password" ng-model="form.password" required/>
            <div ng-messages="form.password.$error" multiple md-auto-hide="false">
                <div ng-message="required">
                    You've got to charge something! You can't just <b>give away</b> a Missile Defense
                    System.
                </div>
                <div ng-message="min">
                    You should charge at least $800 an hour. This job is a big deal... if you mess up,
                    everyone dies!
                </div>
                <div ng-message="pattern">
                    You should charge exactly $1,234.
                </div>
                <div ng-message="max">
                    {{projectForm.rate.$viewValue | currency:"$":0}} an hour? That's a little ridiculous. I
                    doubt event Bill Clinton could afford that.
                </div>
            </div>
        </md-input-container>

        <!--
            Submit button
        -->
        <div layout="row" layout-sm="column" layout-xs="column">
            <span flex></span>
            <md-button class="md-raised md-primary" flex-xs="100" type="submit" flex-sm="100">Sign in</md-button>
        </div>
    </form>
</div>