<div layout="column" flex layout-fill ng-cloak>
    <h3 class="md-headline">Logs over recently viewed videos</h3>
    <span class="md-body-1">When the log contains +100 entries, everything after the 100 video is deleted!</span>

    <md-content>
        <md-list>
            <md-list-item
                    class="md-3-line"
                    ng-repeat="log in videos | orderBy : time : true"
                    ng-click="goto('watch/' + log.video.id)"
                    md-swipe-left="removeEntry($index)"
                    layout="column"
                    flex
            >
                <img
                        ng-src="public/images/{{ log.video.id }}.jpg"
                        flex-gt-md="30"
                        flex-xs="50"
                >
                <div
                        class="md-list-item-text md-padding"
                >
                    <h3 class="md-title">{{log.video.title}}</h3>
                    <h4 class="md-subhead">{{log.time | date: "HH:mm:ss dd-MM-yyyy" }}</h4>
                </div>

                <md-button
                        class="md-icon-button md-warn md-secondary"
                        aria-label="deletes log entry"
                        ng-click="removeEntry($index)"
                        hide-xs
                        hide-sm
                >
                    <md-icon
                            class="material-icons"
                    >
                        close
                    </md-icon>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>